@media screen and (max-width:768px) {
    .controls {
        flex-wrap: wrap;
    }

    .myCol {
        width: 100%;
    }

    select,
    button,
    input {
        margin: 0 0.25em;
    }

}

.colorblock {
    margin: 0 0.5em;
}

.slot-number {
    margin: 0 0.5em;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 0.1em;
}


.highlight-voice-1 {
    box-sizing: border-box;
    border: 2px solid;
    border-color: red;
}

.highlight-voice-0 {
    box-sizing: border-box;
    border: 2px solid;
    border-color: green;
}

.highlight-voice-2 {
    box-sizing: border-box;
    border: 2px solid;
    border-color: blue;
}

.voice-1 {
    border: 1px red solid;
}

.voice-2 {
    border: 1p blue solid;
}

.voice-3 {
    border: 1px green solid;
}

.controls {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
}

.myCol {
    width: 500px;
}

.half-transparant {
    opacity: 0.2;
    font-size: 6px;
}

* {
    font-family: monospace;
}

ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 0;
}

li {
    min-height: 53px;
}

label {
    margin: 1em 0.5em;
}

button {
    display: inline-block;
    border: none;
    padding: 0.5em 0.5em;
    margin: 1.0em;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}



button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

